/* selector {
    proprty: value;
    proprty: value;
    proprty: value;
    proprty: value;
} */


* {
    color: purple 
}

img {
    width: auto;
    height: 250px;
}

h1 {
    color: blue
}

.conway {
    color:red;
}

#lin {
    color: gold;
}



button:hover {
    background-color: blue;
}
p:hover {
    color: blue
}

p::first-line {
    text-transform: uppercase;
}

p::before {
   content: "😊" ; 
}

p::after {
    content:" after"; 
}


#first-p::first-line {
    color: gold;
}

a[target] {
    background-color: gold;
}


/* Selects all <p> elements where the parent is a <div> element */
div > p {
    font-size: 10px;
}
/* Selects the first <p> element that is placed immediately after <div> elements */
div + p {
    font-size: 25px;
}


/* ul .blue-b {
    border: 1px solid blue;
} */

ul ol .blue-b {
    border: 1px solid blue;
}













